# Introducción a Pandas

http://pandas.pydata.org/

Pandas es la extensión logica de numpy al mundo del Análisis de datos.

De forma muy general, Pandas extrae la figura del Dataframe conocida por aquellos que usan R a python. Un pandas dataframe es una tabla, lo que es una hoja de excel, con filas y columnas. En pandas cada columna es una Serie que esta definida con un numpy array por debajo.

In [4]:
import sys
import pandas as pd
print("Versión PANDAS: ",pd.__version__)

Versión PANDAS:  0.24.2

## 1. Creación de un dataframe

Pandas puede realizar lecturas de archivos .CSV, Excel, .JSON... Y por supuesto se puede crear, en particular, a partir de diccionarios.

### 1.1 Creación de un dataframe a partir de un diccionario

In [23]:
diccionario = {
                "Col1_str"   : ["Valor1","Valor2","Valor3","Valor4"],
                "Col2_str"   : ["ValorA","ValorB","ValorC","ValorD"],
                "Col3_int"   : [1,2,3,4],
                "Col4_float" : [5.5,6.6,7.7,8.8]
}

In [24]:
diccionario

{'Col1_str': ['Valor1', 'Valor2', 'Valor3', 'Valor4'],
 'Col2_str': ['ValorA', 'ValorB', 'ValorC', 'ValorD'],
 'Col3_int': [1, 2, 3, 4],
 'Col4_float': [5.5, 6.6, 7.7, 8.8]}

In [25]:
# Paso de diccionario a DataFrame (DF)

dicc_DF = pd.DataFrame(diccionario)

In [26]:
dicc_DF

  Col1_str Col2_str  Col3_int  Col4_float
0   Valor1   ValorA         1         5.5
1   Valor2   ValorB         2         6.6
2   Valor3   ValorC         3         7.7
3   Valor4   ValorD         4         8.8

#### CUIDADO!!!

Al crear un diccionario con nombres de claves repetidos Python sólo conservará los valores asignados a la última de las claves repetidas.

In [27]:
diccionario2 = {
                "Col1_str"   : ["Valor1","Valor2","Valor3","Valor4"],
                "Col1_str"   : ["ValorA","ValorB","ValorC","ValorD"],
                "Col3_int"   : [1,2,3,4],
                "Col4_float" : [5.5,6.6,7.7,8.8]
}

diccionario2

{'Col1_str': ['ValorA', 'ValorB', 'ValorC', 'ValorD'],
 'Col3_int': [1, 2, 3, 4],
 'Col4_float': [5.5, 6.6, 7.7, 8.8]}

In [28]:
dicc2_DF = pd.DataFrame(diccionario2)
dicc2_DF

  Col1_str  Col3_int  Col4_float
0   ValorA         1         5.5
1   ValorB         2         6.6
2   ValorC         3         7.7
3   ValorD         4         8.8

In [29]:
# También se puede crear el DF "a piñón"...


DF3 = pd.DataFrame(
    [
        ["Valor1", "ValorA", 1,5.5],
        ["Valor2", "ValorB", 2,6.6],
        ["Valor3", "ValorC", 3,7.7],
        ["Valor4", "ValorD", 4,8.8],
    ], columns = ["Col1_str", "Col2_str", "Col3_int", "Col4_float"]
)

DF3

  Col1_str Col2_str  Col3_int  Col4_float
0   Valor1   ValorA         1         5.5
1   Valor2   ValorB         2         6.6
2   Valor3   ValorC         3         7.7
3   Valor4   ValorD         4         8.8

### 1.2 Creación de un dataframe a partir de la lectura de un fichero

El fichero puede estar en disco u online!

Por convenio, cuando se emplea un solo DataFrame en el notebook se suele llamar 'df'.

In [32]:
# Lectura de un DF:
#
# En este caso fichero .csv estándar


df = pd.read_csv("https://raw.githubusercontent.com/eggom/Udemy_Training_Curso_ManuGarri_DS_Machine_Learning/master/Secciones/Seccion3.Intro_a_Data_Science/Intro_a_Pandas/primary_results.csv")

## 2. Exploración de un dataframe

In [36]:
# Ver las primeras n filas completas del DF:

n = 3

df.head(n)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329

In [37]:
# Ver las últimas m filas completas del DF:

m = 4

df.tail(n)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [35]:
# Conocer el tamaño del dataframe (filas x columnas)

df.shape

(24611, 8)

In [38]:
# Conocer los tipos de variables que se almacenan en cada columna:

df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [58]:
# Devolver un resumen de los principales estadísticos de las columnas numéricas:

df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

In [64]:
# Explorar de manera rápida el número de valores no nulos en el dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24611 entries, 0 to 24610
Data columns (total 8 columns):
state                 24611 non-null object
state_abbreviation    24611 non-null object
county                24611 non-null object
fips                  24511 non-null float64
party                 24611 non-null object
candidate             24611 non-null object
votes                 24611 non-null int64
fraction_votes        24611 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.5+ MB

## 3. Seleccionar en el dataframe

In [65]:
df.head(5)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

La columna con valores 0, 1, 2, ··· situada a la izquierda del state es la columna de índices (index). Un dataframe tiene que tener un index, que es la manera de organizar los datos.

Por defecto, Pandas crea la columna de índices como un rango desde 0 hasta el número final de elementos tomados de 1 en 1.

In [67]:
df.index

RangeIndex(start=0, stop=24611, step=1)

In [69]:
# Para acceder a una cierta fila con índice i se utiliza .loc[i]
#
# Para acceder a la fila con índice 3 del DataFrame:

df.loc[3]

state                         Alabama
state_abbreviation                 AL
county                        Baldwin
fips                             1003
party                        Democrat
candidate             Hillary Clinton
votes                            5290
fraction_votes                  0.647
Name: 3, dtype: object

Importante, <code>.loc[···]</code> selecciona por índice, no por posición.

Podemos cambiar el índice a cualquier otra cosa, otra columna o una lista separada, siempre que el nuevo índice tenga la misma longitud que el Dataframe.

In [72]:
df2 = df.set_index("county")
df2.head(4)

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647

In [77]:
# Si volvemos a llamar a .index ya no devuelve un rango sino un array de strings.

df2.index

Index(['Autauga', 'Autauga', 'Baldwin', 'Baldwin', 'Barbour', 'Barbour',
       'Bibb', 'Bibb', 'Blount', 'Blount',
       ...
       'Sweetwater-Carbon', 'Sweetwater-Carbon', 'Teton-Sublette',
       'Teton-Sublette', 'Teton-Sublette', 'Teton-Sublette', 'Uinta-Lincoln',
       'Uinta-Lincoln', 'Uinta-Lincoln', 'Uinta-Lincoln'],
      dtype='object', name='county', length=24611)

In [79]:
# Intentar acceder a este df2 usando índices numéricos fallará:

df2.loc[3]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [3] of <class 'int'>

In [88]:
# En su lugar deberemos usar valores contenidos en el nuevo índice.

df2.loc["Greenville"]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Greenville,Maine,ME,92300183.0,Democrat,Bernie Sanders,2,0.500
Greenville,Maine,ME,92300183.0,Democrat,Hillary Clinton,2,0.500
Greenville,South Carolina,SC,45045.0,Democrat,Bernie Sanders,10965,0.355
Greenville,South Carolina,SC,45045.0,Democrat,Hillary Clinton,19807,0.641
Greenville,South Carolina,SC,45045.0,Republican,Ben Carson,8036,0.086
Greenville,South Carolina,SC,45045.0,Republican,Donald Trump,24913,0.268
Greenville,South Carolina,SC,45045.0,Republican,Jeb Bush,6548,0.070
Greenville,South Carolina,SC,45045.0,Republican,John Kasich,7683,0.083
Greenville,South Carolina,SC,45045.0,Republican,Marco Rubio,22875,0.246
Greenville,South Carolina,SC,45045.0,Republican,Ted Cruz,22899,0.246

Si queremos seleccionar por el numero de fila independientemente del índice, podemos usar iloc

In [90]:
df.iloc[0]

state                        Alabama
state_abbreviation                AL
county                       Autauga
fips                            1001
party                       Democrat
candidate             Bernie Sanders
votes                            544
fraction_votes                 0.182
Name: 0, dtype: object

In [92]:
df2.iloc[0]

state                        Alabama
state_abbreviation                AL
fips                            1001
party                       Democrat
candidate             Bernie Sanders
votes                            544
fraction_votes                 0.182
Name: Autauga, dtype: object

In [94]:
df2.loc["Greenville"].iloc[1]

state                           Maine
state_abbreviation                 ME
fips                      9.23002e+07
party                        Democrat
candidate             Hillary Clinton
votes                               2
fraction_votes                    0.5
Name: Greenville, dtype: object

Se puede sellecionar una columna del Dataframe (df):
* mediante <code>df[nombre_columna]</code> como si el dataframe fuese un diccionario.

* como atributo <code>df.nombre_columna</code> siempre y cuando la sintaxis del nombre de la columna sea valida (sin espacios), y dicho atributo no exista en el dataframe como palabra reservada...

In [96]:
df["state"][:10]

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
5    Alabama
6    Alabama
7    Alabama
8    Alabama
9    Alabama
Name: state, dtype: object

In [98]:

df.state[:10]

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
5    Alabama
6    Alabama
7    Alabama
8    Alabama
9    Alabama
Name: state, dtype: object

Si seleccionamos una columna, obtenemos una Serie, si seleccionamos dos o más, obtenemos un dataframe.

In [110]:
print(type(df['county']))
df["county"].head(5)

<class 'pandas.core.series.Series'>

0    Autauga
1    Autauga
2    Baldwin
3    Baldwin
4    Barbour
Name: county, dtype: object

In [107]:
print(type(df[["county", "candidate"]]))
df[["county", "candidate"]].head(5)

<class 'pandas.core.frame.DataFrame'>

    county        candidate
0  Autauga   Bernie Sanders
1  Autauga  Hillary Clinton
2  Baldwin   Bernie Sanders
3  Baldwin  Hillary Clinton
4  Barbour   Bernie Sanders

In [115]:
print(df[["state", "candidate"]].head(5))
print(df2[["state", "candidate"]].head(5))

     state        candidate
0  Alabama   Bernie Sanders
1  Alabama  Hillary Clinton
2  Alabama   Bernie Sanders
3  Alabama  Hillary Clinton
4  Alabama   Bernie Sanders
           state        candidate
county
Autauga  Alabama   Bernie Sanders
Autauga  Alabama  Hillary Clinton
Baldwin  Alabama   Bernie Sanders
Baldwin  Alabama  Hillary Clinton
Barbour  Alabama   Bernie Sanders

### 3.1 Filtrado de DataFrames

Se puede filtrar un dataframe de la misma manera que se filtra en Numpy

In [122]:
df[df.votes>=300000]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536

In [124]:
df[["state","county","fips"]][df.votes>=300000]

           state       county        fips
1385  California  Los Angeles      6037.0
1386  California  Los Angeles      6037.0
4450    Illinois      Chicago  91700103.0
4451    Illinois      Chicago  91700103.0

In [125]:
df.county[df.votes>=300000]

1385    Los Angeles
1386    Los Angeles
4450        Chicago
4451        Chicago
Name: county, dtype: object

Se pueden concatenar varias condiciones usando &

In [126]:
df[ (df.county=="Manhattan") & (df.party=="Democrat") ]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

Alternativamente se puede usar el método query

**IMPORTANTE el uso de " y ' con el método <code>.query(···)</code>:**

O bien se emplea:

* <code>df.query('col_1=="valor_1" and campo_2=="valor_2"')</code>

o bien:

* <code>df.query("col_1=='valor_1' and campo_2=='valor_2'")</code>

In [134]:
df.query('county=="Manhattan" and party=="Democrat"')

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

Más variantes de <code>.query(···)</code>

In [136]:
condado = 'Manhattan'
partido = "Democrat"
df.query("county==@condado and party==@partido")

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

## 4. Procesado de Datos del DataFrame

Es de las características más potentes de Pandas

In [137]:
# Ordenar un DataFrame en orden ascendente/descendente de acuerdo a los valores de una columna de éste:

df_sorted = df.sort_values(by="votes", ascending=False)
df_sorted.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536

In [165]:
# Podemos agrupar los datos con groupby:

# df.groupby([col/s por las que quiero agrupar])

# Ej. 1
#
# Agrupar en torno a candidato (= Para cada candidato) la suma de votos y fips:
#
#
#
"""
DF    .groupby([col_en_torno_a])  [col/s objetivo]   Operación
"""
df    .groupby(["candidate"])     ["votes","fips"]   .sum()

                    votes          fips
candidate
 No Preference       8152  3.246756e+10
 Uncommitted           43  1.890801e+06
Ben Carson         564553  5.947928e+10
Bernie Sanders   11959102  1.295982e+11
Carly Fiorina       15191  1.890801e+06
Chris Christie      24353  1.890801e+06
Donald Trump     13302541  8.046174e+10
Hillary Clinton  15692452  1.295982e+11
Jeb Bush            94411  3.962917e+06
John Kasich       4159949  8.046174e+10
Marco Rubio       3321076  6.120010e+10
Martin O'Malley       752  1.890801e+06
Mike Huckabee        3345  1.890801e+06
Rand Paul            8479  1.890801e+06
Rick Santorum        1782  1.890801e+06
Ted Cruz          7603006  8.046174e+10

In [188]:
# Replace Values in Dataframes
# 
#
# .replace(value_from, value_to)

df.candidate = df.candidate.replace(" Uncommitted", "Un Commited")

# *I have made this replacement to make the next thingy work...

In [191]:
# Crear columnas nuevas en función de valores de columnas ya existentes:

df['CandidateInitials'] = df.candidate.apply(lambda a: a.split()[0][0]+a.split()[1][0])
df.head(3)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,CandidateInitials
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,BS
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,HC
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,BS

In [200]:
# Ejemplo de anidación de métodos:
#
# Agrupamos por iniciales la suma de votos y la ordenamos de mayor a menor:
#
#
# *En este caso .sort_values(···) no acepta by porque sólo hay una columna por la que ordenar...

df  .groupby(["CandidateInitials"])  ["votes"]  .sum()  .sort_values(ascending=False)

CandidateInitials
HC    15692452
DT    13302541
BS    11959102
TC     7603006
JK     4159949
MR     3321076
BC      564553
JB       94411
CC       24353
CF       15191
RP        8479
NP        8152
MH        3345
RS        1782
MO         752
UC          43
Name: votes, dtype: int64

### 4.1 Unión de dos dataframes con merge

In [203]:
# Leemos el segundo dataframe:

df_poverty = pd.read_csv("https://raw.githubusercontent.com/eggom/Udemy_Training_Curso_ManuGarri_DS_Machine_Learning/master/Secciones/Seccion3.Intro_a_Data_Science/Intro_a_Pandas/PovertyEstimates.csv")

In [211]:
# Comprobamos correcta lectura del dataframe

df_poverty.head(4)

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9

In [212]:
# Realizaremos la unión de tablas a través de la columna 'fips' en df y 'FIPStxt' en 'df_poverty'.
#
# Previo a ello realizaremos unas pequeñas comprobaciones:

In [208]:
# Comprobamos tipología de datos en dataframe

df_poverty.dtypes

FIPStxt             int64
PCTPOVALL_2015    float64
dtype: object

In [213]:
# Comprobamos dimensionalidad del segundo dataframe:

df_poverty.shape

(3194, 2)

In [219]:
# Comprobamos los valores únicos de la columna de unión en el segundo dataframe. En esta columna no se esperan valores repetidos
# con lo que:
#
# Dimensionalidad valores únicos de 'FIPStxt' == Dimensionalidad Filas DataFrame 'df_poverty'

df_poverty.FIPStxt.unique().size == df_poverty.shape[0]

True

In [221]:
# Comprobamos que la dimensionalidad de los valores únicos de la columna 'fips' en 'df' es menor o igual a la dimensionalidad
# del segundo DataFrame 'df_poverty', con lo que:
#
# Dimensionalidad valores únicos de 'fips' <= Dimensionalidad Filas DataFrame 'df_poverty'

df.fips.unique().size <= df_poverty.shape[0]

False

In [230]:
# Como ha resultado 'False' se espera que, o bien:

# · Haya valores de 'fips' en 'df' que no tengas valor acorde en 'FIPStxt' de 'df_poverty'
# · Se reduzca la dimensión del DataFrame final ya que aquellas filas de 'df' con valores de 'fips' en 'df' que no existen
#   en 'FIPStxt' de 'df_poverty' pues se eliminen.

In [228]:
# Realizamos la unión de DataFrames...


df = df.merge(df_poverty, left_on="fips", right_on="FIPStxt")
df.head(3)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,CandidateInitials,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,BS,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,HC,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,BC,1001,12.7

In [232]:
# Con df.info() veremos qué ha pasado con la dimensionalidad o datos null:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17474 entries, 0 to 17473
Data columns (total 11 columns):
state                 17474 non-null object
state_abbreviation    17474 non-null object
county                17474 non-null object
fips                  17474 non-null float64
party                 17474 non-null object
candidate             17474 non-null object
votes                 17474 non-null int64
fraction_votes        17474 non-null float64
CandidateInitials     17474 non-null object
FIPStxt               17474 non-null int64
PCTPOVALL_2015        17474 non-null float64
dtypes: float64(3), int64(2), object(6)
memory usage: 1.6+ MB

In [248]:
# Jugando con groupby y el nuevo DataFrame mergeado:

state_votes = df.groupby(["state","party"]).agg({
    "fraction_votes":"mean",
    "PCTPOVALL_2015": "mean"   
   }
)
state_votes.sort_values(by="PCTPOVALL_2015", ascending=False).head(20)

                           fraction_votes  PCTPOVALL_2015
state          party
Mississippi    Republican        0.243381       25.224390
               Democrat          0.493610       25.224390
Alabama        Democrat          0.477000       22.007463
               Republican        0.195310       22.007463
Louisiana      Republican        0.241039       21.946875
               Democrat          0.452469       21.946875
Georgia        Republican        0.196938       21.912579
               Democrat          0.493560       21.912579
Kentucky       Republican        0.245298       21.407500
               Democrat          0.454579       21.407500
New Mexico     Republican        0.304091       21.175758
               Democrat          0.500015       21.175758
Arkansas       Republican        0.191971       21.162667
               Democrat          0.464973       21.162667
South Carolina Republican        0.166649       20.847826
               Democrat          0.496587       20.847826
Arizona        Republican        0.283867       20.520000
               Democrat          0.478433       20.520000
West Virginia  Republican        0.310333       19.160000
               Democrat          0.431200       19.160000

## 5. Exportación de DataFrames a Excel

Se necesita instalar el paquete xlwt.

In [249]:
conda install -y xlwt

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [251]:
import xlwt

In [252]:
df.to_excel("./Exports/Primary_Results.xls", sheet_name="main_data")

#### Lectura desde un archivo excel:

Se necesita el paquete xlrd.

In [255]:
conda install -y xlrd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [257]:
import xlrd

In [259]:
df_from_xls = pd.read_excel("./Exports/Primary_Results.xls", sheet_name="main_data")
df_from_xls.head(3)

,Unnamed: 0,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,CandidateInitials,FIPStxt,PCTPOVALL_2015
0,0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,BS,1001,12.7
1,1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,HC,1001,12.7
2,2,Alabama,AL,Autauga,1001,Republican,Ben Carson,1764,0.146,BC,1001,12.7